[submodule "vendor/context-hub"]
	path = vendor/context-hub
	url = https://github.com/andrewyng/context-hub
[submodule "vendor/gh-axi"]
	path = vendor/gh-axi
	url = https://github.com/kunchenguid/gh-axi
[submodule "vendor/chrome-devtools-axi"]
	path = vendor/chrome-devtools-axi
	url = https://github.com/kunchenguid/chrome-devtools-axi
[submodule "vendor/ouroboros"]
	path = vendor/ouroboros
	url = https://github.com/Q00/ouroboros
[submodule "vendor/codegraph"]
	path = vendor/codegraph
	url = https://github.com/colbymchenry/codegraph
[submodule "vendor/agentmemory"]
	path = vendor/agentmemory
	url = https://github.com/rohitg00/agentmemory
